CopyFactory:
  title_map_for_display_of_record_name:
    MyDataObject1: FancyTitle
    MyDataObject2: EvenMoreFancyTitle
  copy_fields_prefix: "Copy"
  completed_field_appendix: "_Completed"

MyDataObject:
  extensions:
    - CopyFactoryDataExtension


