CopyFactory:
  title_map_for_display_of_record_name:
    MyDataObject1: FancyTitle
    MyDataObject2: EvenMoreFancyTitle
  copy_fields_prefix: "Copy"
  completed_field_appendix: "_Completed"

MyDataObject:
  extensions:
    - CopyFactoryDataExtension

---
Only:
  environment: 'dev' # or live ...
---
SiteConfig:
  full_location_for_db_backup_file: '/var/backups/mybackupfile.sql'

LeftAndMain:
  max_db_copies: 7
